@{
    ViewData["Title"] = "Why Study Faculty of Physics, Astronomy and Informatics..";
}
<div>
    <h2>@ViewData["Title"].</h2>

    <p>
        <h3>... in Toruń?</h3><br />
        <ul>
            <li>Because it is a spectacular city that makes you feel good.</li>
            <br />
            <li>Because it is friendly – you will like it and the city will reciprocate.</li>
            <br />
            <li>Because it is big and vibrant enough to have a few interesting cultural events: festivals, shows and concerts. Only bores are bored in Toruń.</li>
            <br />
            <li>Because it is small enough: everything is near and you can feel its academic atmosphere.</li>
            <br />
        </ul>
        <h3>... at NCU?</h3><br />
        <ul>
            <li>Because it is one of the best universities in Poland.</li><br />
        </ul>
        <h3>... here, at Faculty of Physics, Astronomy and Informatics?</h3>
        <ul>
            <br />
            <li>Be  cause we are good at what we do.</li>
            <br />
            <li>Because we have the biggest radio telescope in Central-Eastern Europe.</li>
            <br />
            <li>Because here you can find the best equipped National Laboratory for Atomic, Molecular and Optical Physics KL FAMO.</li>
            <br />
            <li>Because we buy our students’ legal software</li>
            <br />
            <li>Because we give you a choice of a number of opportunities:</li>
            <br />
            <li>Astronomy</li>
            <br />
            <li>Automation and Robotics</li>
            <br />
            <li>Physics</li>
            <br />
            <li>Technical physics</li>
            <br />
            <li>Informatics</li>
            <br />
            <li>Materials for Advanced Technologies</li>
            <br />
            <li>doctor al studies</li>
            <br />
            <li>post-graduate studies</li>
            <br />
            <li>extramural MA studies</li>
            <br />
            <li>Even if you are still unsure what you really want, even if you change your mind later or will find yourself later in an unforeseen place or situation, you will be fine anyway, because we will teach you to recognize and solve problems.</li>
            <br />
        </ul>
    </p>
    Source: <a href="http://www.fizyka.umk.pl/wfaiis_en/?q=node/23">http://www.fizyka.umk.pl/wfaiis_en/?q=node/23</a>
</div>