@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

    <h3>University Name:</h3> <strong>Faculty of Physics and Informatics</strong><br />
    <h3>Localization:</h3> <strong>Grudziądzka 5, 87-100 Toruń, Poland</strong><br />
    <h3>Phone Number:</h3> <strong>P: 56 611 33 10</strong><br />

    <h3>Faculty more detailed contact informations:</h3> <a href="https://www.fizyka.umk.pl/wfaiis_en/?q=node/33"><strong>https://www.fizyka.umk.pl/wfaiis_en/?q=node/33</strong></a><br />

    <br />
    <br />
    <br />
    <h4>Author:</h4>
        Full Name: Jan Musiał<br />
        Phone Number: +48 123456789<br />
        E-mail Address: <a href="mailto:273039@stud.umk.pl"><strong>273039@stud.umk.pl</strong></a><br />
